html,
body {
    height: 100%;
}

/*    INDEX.HTML CSS PART*/
.navbar .navbar-nav {
    float: none;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
}
    
}
body {
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header.intro {
    padding-top: 10rem;
    padding-bottom: 10rem;
    position: relative;
    background: url('../images/inHanguk_intro.png') no-repeat bottom center;
    background-color: white;
    background-size: contain;
}

.intro.text.box {
    position: relative;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a{
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 768px) {
    .showcase .showcase-text {
        padding: 7rem;
    }
}

section.features .feature-item {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.device-container {
    padding-bottom: 50px;
}

section.features .feature-item i {
    font-size: 80px;
    display: block;
    margin-bottom: 15px;
    background: -webkit-gradient(linear, right top, left top, from(#8360c3), to(#2ebf91));
    background: linear-gradient(to left, #8360c3, #2ebf91);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .navbar-nav {
        font-size: 30px;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    header.intro {
        padding-bottom: 30rem;
    }

    .navbar-nav {
        font-size: 15px;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

/*    END OF INDEX.HTML CSS PART*/

/*    TEAM.HTML CSS PART*/
.about-us {
    padding-top: 5rem;
}

* // Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

/*    END OF TEAM.HTML CSS PART*/

/*    PLANS.HTML CSS PART*/
#inhanguk-team{
    padding-top: 7rem;
    padding-bottom: 5rem;
}

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
    height: 200px;
}
@media (min-width: 768px){
    .bg-image-full{
        height: 400px;
    }
}

.main-timeline .timeline {
    position: relative;
}

.main-timeline .timeline {
    display: block;
    width: 100%;
    clear: both;
}

.main-timeline .timeline-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #0a90d7;
    position: absolute;
    top: 0;
    left: 3px;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
}

.main-timeline .timeline-content {
    width: 45%;
    padding: 20px;
    border-radius: 5px;
    text-align: right;
}

.main-timeline .date {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    padding: 12px 33px;
    background: #0a90d7;
    border-radius: 30px;
}

.main-timeline .title {
    font-size: 24px;
    font-weight: 500;
    color: #5c5151;
    margin-top: 30px;
}

.main-timeline .description {
    font-size: 14px;
    color: #606060;
    line-height: 2;
}

.main-timeline .timeline-content.right {
    float: right;
    text-align: left;
}

@media only screen and (max-width: 767px) {
    .main-timeline .timeline-icon {
        left: -8px;
        margin: 0;
    }

    .main-timeline .timeline-content {
        width: 90%;
        float: right;
    }
}

/*    END OF PLANS.HTML CSS PART*/

/*    CONTACT.HTML CSS PART*/
#contact-image{
    display: none;
}
@media (min-width: 768px) {
    #contact-image{
        display: block;
    }
}


/*    END OF CONTACT.HTML CSS PART*/

/*        INVEST.HTML CSS PART*/

#coming-soon-img{
    background: url('../images/under-construction.png') no-repeat top center;
    background-size: cover;
    height: 40rem;
}

#investor-text{
    padding-top: 5rem;
    padding-bottom: 2rem;
}
/*        END OF INVEST.HTML CSS PART*/

/*        FOOTER OF CSS PART*/
#footer{
    font-family: Monsterrat sans-serif;
    font-size: 12px;

}
/*        END OF FOOTER OF CSS PART*/

